@color_text: #0a0a0a;
@color_h2: #5f5f5f;
@color_error: red;

body {
	font: 14px Arial;
	color: @color_text;
}
h1 {
	font-size: 28px;
	text-align: center;
}
h2 {
	margin-top: 0;
	font-size: 22px;
	color: @color_h2;
}
h3 {
	font-size: 18px;
}
#root {
	max-width: 300px;
	min-height: 100px;
	border: 1px solid lightgray;
	margin: 20px auto;
	padding: 0;
}
.error-message {
	margin-top:10px;
	color: @color_error;
}